:root {
    --light-green: #a8d5ba;
    --dark-green: #4caf50;
    --light-grey: #c9c9c9;
    --dark-grey: #333;
    --a-ssg:#00ff19;
    --b-ssg:#bcf005;
    --c-ssg:#fbe14c;
    --d-ssg:#ffd786;
    --b-sg:#ffd786;
    --c-sg:#daa052;
    --d-sg:#9f6d20;
    
}
.primary {
    background-color: var(--a-ssg); /* Primary color */
    color: var(--dark-grey);
}

.secondary {
    background-color: var(--b-sg); /* Secondary color */
    color: var(--dark-grey);
}

.tertiary {
    background-color: var(--c-sg);
    color: var(--light-grey);
}
.grey {
    background-color:  var(--light-grey);
    color: var(--dark-grey);
}

.grid-container {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    border: 1px solid var(--d-sg);
    padding: 10px;
    text-align: center;
    width: 25vw; /* 25% of viewport width */
    height: 25vh; /* 25% of viewport height */
    display: flex;
    flex-direction: column;
    border-radius: 10px; /* Rounded corners */
}

.title-description {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.title {
    font-weight: bold;
}

.description {
    font-style: italic;
}

.content {
    border: 1px solid var(--d-sg);
    border-radius: 10px; /* Rounded corners */
    font-size: normal;
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 100px; /* Set a fixed height */
    justify-content: center;
}


body {
    font-family: 'Calibri', sans-serif;
    background-color: var(--light-grey);
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
}
.tab {
    overflow: hidden;
    border-bottom: 1px solid var(--dark-grey);
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: var(--dark-grey);
}

.tab button:hover {
    background-color: var(--light-green);
}

.tab button.active {
    background-color: var(--dark-green);
    color: white;
}

/* Tab content styles */
.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid var(--dark-grey);
    border-top: none;
    background-color: white;
}

ul {
    list-style-type: none;
    margin-bottom: 10px;
}

li {
    padding: 0;
}

section {
    margin-bottom: 20px;
    margin-left: 20px;
}

h1,
h2 {
    color: var(--dark-green);
}

h3 {
    color: var(--dark-grey);
}

/* Footer styles */
footer {
    background-color: var(--dark-green);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Accordion styles */
.accordion {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: var(--light-green);
}

.panel {
    padding: 0 10px;
    display: none;
    background-color: white;
    overflow: hidden;
}